node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store

# ignore all firebase rules and config
*.json
!*package.json
!/firebase/firebase-config-example.json
!/firebase/firebase.json
!/firebase/firestore.indexes.json

# ignore all debug file
*.log